[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/delimitmate"]
	path = vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = git://github.com/docunext/closetagvim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/better-css-syntax"]
	path = vim/bundle/better-css-syntax
	url = https://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmatevim.git
[submodule "vim/bundle/ruby-snippets"]
	path = vim/bundle/ruby-snippets
	url = https://github.com/kaichen/vim-snipmate-ruby-snippets.git
[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/l9"]
	path = vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/bundle/vim-jquery"]
	path = vim/bundle/vim-jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/greplace"]
	path = vim/bundle/greplace
	url = https://github.com/skwp/greplacevim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-conque"]
	path = vim/bundle/vim-conque
	url = https://github.com/skwp/vim-conque.git
[submodule "vim/bundle/vim-ruby-conque"]
	path = vim/bundle/vim-ruby-conque
	url = https://github.com/skwp/vim-ruby-conque.git
[submodule "vim/bundle/specky"]
	path = vim/bundle/specky
	url = https://github.com/vim-scripts/Specky.git
[submodule "vim/bundle/autotag"]
	path = vim/bundle/autotag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "vim/bundle/vim-ruby-minitest"]
	path = vim/bundle/vim-ruby-minitest
	url = https://github.com/sunaku/vim-ruby-minitest.git
