[color]
	ui=auto
	pager=true
	interactive=auto
	branch=auto
	diff=auto
	status=auto
[color "branch"]
	current = green bold
	local = green
	remote = red
[color "diff"]

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = magenta bold
	deleted = red bold
	branch = yellow bold
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	prune = remote prune origin[user]
	hist = log --pretty=format:\"%C(yellow bold)%h %C(white bold)%ad %C(red bold)|%C(yellow bold)%d%C(white bold) %s [%C(green bold)%an%C(white bold)]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[user]
	name = Michael Blumberg
	email = mblum14@gmail.com

[core]
	audotcrlf = input
	safecrlf = true

[apply]
	whitespace = fix

[core]
	editor = gvim --nofork
	all = auto[core "auto"]
