[color]
  ui=auto
  pager=true
  interactive=auto
  branch=auto
  diff=auto
  status=auto
[color "branch"]
  current = green bold
  local = green
  remote = red
[color "diff"]
  meta = yellow bold
  frat = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = magenta bold
  deleted = red bold
  branch = yellow bold
[alias]
  # add
  a = add
  chunkeyadd = add --patch

  # branch
  br = branch

  # commit
  c = commit -m
  ca = commit -am
  ci = commit
  amend = commit --amend
  ammend = commit --amend

  # checkout
  co = checkout
  nb = checkout -b

  # cherry-pick
  cp = cherry-pick -x

  # diff
  d = diff
  dc = diff --cached
  last = diff HEAD^

  # log
  hist = log --pretty=format:\"%C(yellow bold)%h %C(white bold)%ad %C(red bold)|%C(yellow bold)%d%C(white bold) %s [%C(green bold)%an%C(white bold)]\" --graph --date=short
  changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
  changelog = log --pretty=format:\" * %s\"
  review = log -p -b
  
  # remote
  r = remote -v
  prune = remote prune origin[user]

  # rebase
  rc = rebase --continue
  rs = rebase --skip
  ra = rebase --abort

  # reset
  unstage = reset HEAD
  uncommit = reset --soft HEAD^
  filelog = log -u
  mt = mergetool

  # stash
  ss = stash
  sl = stash list
  sa = stash apply
  sd = stash drop

  # status
  st = status

  # tag
  t = tag -n

  type = cat-file -t
  dump = cat-file -p
[merge]
  summary = true
  verbosity = 1
[apply]
  whitespace = fix
[push]
  default = tracking
[user]
  name = Michael Blumberg
  email = mblum14@gmail.com
[core]
  audotcrlf = input
  all = auto[core "auto"]
  editor = vim --nofork
  safecrlf = true
[diff]
  mnemonicprefix = true
