# ALIASES

# interactive
alias cp='cp -vi'
alias mv='mv -vi'

# Directory navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
 
# listings
alias la='ls -lAGFh'
alias lc='ls -aCF'
alias lm='ls -lAGFh | more'          

# bundler
alias be="bundle exec"

# rails
alias rc='rails console'

# configuration shortcuts
alias bash_profile='vim ~/.config/.bash_profile && source ~/.config/.bash_profile'
alias bashrc='vim ~/.config/.bashrc && source ~/.config/.bashrc'
alias aliases='vim ~/.config/bash/.aliases && source ~/.config/.bashrc'
alias config='vim ~/.config/bash/.config && source ~/.config/.bashrc'
alias env='vim ~/.config/bash/.env && source ~/.config/.bashrc'
alias gvimrc='vim ~/.config/.gvimrc'

