# ALIASES

# interactive
alias cp='cp -vi'
alias mv='mv -vi'

# Directory navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
 
# listings
alias la='ls -lAFh'
alias lc='ls -aCF'
alias lm='ls -lAFh | more'

# bundler
alias be="bundle exec"

# rails
alias rc='rails console'

# configuration shortcuts
alias bash_profile='vim ~/.bin/.bash_profile && source ~/.config/.bash_profile'
alias bashrc='vim ~/.bin/.bashrc && source ~/.config/.bashrc'
alias aliases='vim ~/.bin/bash/.aliases && source ~/.config/.bashrc'
alias config='vim ~/.bin/bash/.config && source ~/.config/.bashrc'
alias env='vim ~/.bin/bash/.env && source ~/.config/.bashrc'
alias gvimrc='vim ~/.bin/.gvimrc.after'
alias vimrc='vim ~/.bin/.vimrc.after'
