# ALIASES

# interactive
alias cp='cp -vi'
alias mv='mv -vi'

# Directory navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
 
# listings
alias ll='ls -lAFh'
alias lc='ls -aCF'
alias lm='ls -lAFh | more'

# bundler
alias be="bundle exec"

# rails
alias rc='bundle exec rails console'

# configuration shortcuts
alias bash_profile='vim ~/.dotfiles/.bash_profile && source ~/.dotfiles/.bash_profile'
alias bashrc='vim ~/.dotfiles/.bashrc && source ~/.dotfiles/.bashrc'
alias aliases='vim ~/.dotfiles/bash/.aliases && source ~/.dotfiles/.bashrc'
alias config='vim ~/.dotfiles/bash/.config && source ~/.dotfiles/.bashrc'
alias env='vim ~/.dotfiles/bash/.env && source ~/.dotfiles/.bashrc'
alias vimrc='vim ~/.dotfiles/.vimrc'
